.content {
    margin-left: 25%;
    margin-right: 25%;
    margin-top:130px;
    text-align: center;
}
.content div h2 , .icon{
    margin-top: 60px;
    
}
#success {
    font-size: 50px;
    color: #464845;
}
#thank {
    font-size: 40px;
    color: #393A38;
}
#continue {
    font-size: 20px;
    margin-top: 60px;
    text-decoration: none;
    color: #50514F
}

.link {
    margin-top: 50px;
    background-color: #94FD60;
    width: 200px;
    text-align: center;
    margin-left: 37%;
    height: 35px;
    border-radius: 20px;
}
.link:hover {
    background-color: #6CF827;
}