@charset "utf-8";
/* CSS Document */
	body{
    background-color: #CCD0D0;
}


.cartContainer{
    width: 90%;
    height: auto;
    left: 5%;
    right: 5%;
    top: 40px;
}
.leftCol {
     padding-right: 0%;
     margin-left: 0%;
}
.rightCol {
    margin-left: 50px;
    background-color: white;
    height: 300px;
    border: 2px solid white;
    border-radius: 5px;
}
.headBar {
    background-color: white;
    padding-left: 0%;
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 30px;
    height: 100px;
    border: 2px solid white;
    border-radius: 5px;

}
.cart {
   padding-top: 10px;
}
.selectAll, .cart {
    padding-left: 20px;
}
.selectAll{
    position: fixed;
    width: 150px;
    height: 30px;
    text-decoration: none;
    font-size: 15px;
    border: none;
    text-align: left;
    font-weight: 500;
    background-color: white;
}
.selectAll:hover {
    color: #090940;
    text-decoration: underline;
}
.itemList {
    list-style-type:none;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
}
.itemContainer{
    width: 100%;
    height: 170px;
    list-style-type:none;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 0;
    border: 2px solid white;
    border-radius: 5px;
}
.checkBox {
    margin-top: 70px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-color: #7FEACC;
    box-shadow: none;
    outline: none;
}
.checkBox:checked {
    background-color: #7FEACC ;
    box-shadow: none;
}
.itemImage {
    width: 150px;
    height: 140px;
    margin: 10px;
    display: block;
    border-radius: 5px;
}
.ietemDescription{
    font-size: 16px;
    margin-bottom: 20px;
}
.select, .itemContent, .price{
    margin: 1px;
    margin-right: 15px;
}
.addMoreItems {
    width: 50%;
    margin-top: 10px;
    margin-left: 10%;
}
.btnContent {
    justify-content: center;
}
.row1 {
    margin: 2px;
    font-size: 25px;
    height: 50px;
}
.abc {
    margin: 5px;
    margin-top: 20px;
}
.inpt {
    border: none;
}
.btn {
    font-size: 15px;
}
.btn:focus {
    outline: none;
    border: none;
    box-shadow: floralwhite;
}
.valueContainer {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.deleteIconcontainer {
    text-align: center;
    margin-top: 12px;
    color: #051C16;
}
.deleteIcon {
    font-size: 30px;
}
.summery {
    margin-top: 10px;
    margin-bottom: 10px;
}
.totalItemsContainer {
    margin-top: 20px;
}
.coupon {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #191B1B;
}
.couponbtn {
    margin-left: 30px;
    background-color: #9BEFD7;
    border: none;
    border-radius: 5px;
    transition: backgound-color 1s;
}
.couponbtn:hover{
    background-color: #62E6C0;
}
.totalContainer {
    margin-top: 20px;
}
.checkoutbtn {
    width: 100%;
    height: 40px;
    background-color: #15AC6E;
    border: none;
    border-radius: 5px;
    transition: backgound-color 1s;
}
.checkoutbtn:hover {
    background-color: #62E6C0;
}
